// Colors
$primary-color: #fe9920;

$text-primary-color: #212121;
$text-secondary-color: #838383;
$text-primary-hover: #646464;

$bg-primary-color: #ffffff;
$bg-secondary-color: #fafafa;

// Sizes
$font-size-xl: 20px;
$font-size-lg: 18px;
$font-size-base: 16px;
$font-size-sm: 14px;

// Shadows
$shadow-card: 0px 14px 21px 1px rgba(34, 60, 80, 0.07);
